*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Segoe UI Historic, Segoe UI, Helvetica, Arial, sans-serif;
}

#chatbox{  
    margin: 40px auto 0;
    border: 1px solid rgb(226, 223, 223) ;
    width: 328px;
    border-radius: 5px;
    height: 550px;
}

/* header */

#header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    position: sticky;
    z-index: 100;
    top: 0;
    width: 100%;
    border-bottom: 1px solid rgb(226, 223, 223);
    box-shadow: 0px 1px 2px rgb(226 223 223);
}

.time{
    text-align: center;
    font-size: 12px;
    padding: 5px;
}

main{
    overflow-y: auto;
    height: 447px;
}
#header .left-nav a img{
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

#header .left-nav a {
    padding: 5px 8px;
}

#header .left-nav .title{
    padding: 7px;
}

#header .left-nav .title p{
    color: #9c9c9c;
    font-size: 13px;
}

#header .left-nav:hover{
   cursor: pointer;
   border-radius: 3px;
   background-color: rgba(0, 0, 0, 0.05);
}

#header .left-nav{
    display: flex;
}

#header .right-nav ul{
    display: flex;
    margin-right: 5px;
}

#header .right-nav ul li{
    list-style-type: none;
}

#header .right-nav ul li a i{
    padding: 6px 6px;
    color: #1877F2;
    font-size: 1em;
}

#header .right-nav ul .closs{
    padding: 6px 8px;
}


#header .right-nav ul li a i:hover{
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.05);
}

/* ChatArea */

.main-content .reciever{
    background-color: rgba(237, 231, 231, 1);
    padding: 10px;
    width: max-content;
    max-width: 178px;
    word-break: break-word;
    line-height: 20px;
    margin: 3px 5px;
    border-radius: 0px 20px 20px 0px;
}

.main-content .container{
    display: flex;
    align-items: flex-end;
    padding-top: 5px;
 }
 

 .main-content .message-container{
   display: flex;
   flex-direction: column;
}

.main-content .reciever-image{
    width: 35px;
    border-radius: 50%;
}

.main-content .container .image{
    padding-left: 10px;
    padding-right: 5px;
}

.first-reciever{
    border-radius: 20px 20px 20px 0px !important;
}

.last-reciever{
    border-radius: 0px 20px 20px 20px !important;
}

.single{
    border-radius: 20px !important;
}

.main-content .sender{
    background-color: #1877F2;
    padding: 10px;
    color: white;
    width: max-content;
    max-width: 178px;
    word-break: break-word;
    line-height: 20px;
    margin: 3px 5px;
    border-radius: 20px 0px 0px 20px;
}

.main-content .sender-container{
    display: flex;
    align-items: flex-end;
    padding-top: 5px;
    flex-direction: column;
}

.first-sender{
    border-radius: 20px 20px 0px 20px !important;
}

.last-sender{
    border-radius: 20px 0px 20px 20px !important;
}

.single-sender{
    border-radius: 20px;
}

.main-content .image-send-recieve{
    width: 150px;
}

.image-container{
    padding: unset !important;
    background-color: unset !important;
}

.seen-container{
    display: flex;
    align-items: flex-end;
    padding-top: 5px;
    flex-direction: row;
    justify-content: flex-end;
}

.seen-container .seen{
    margin: 0 4px;
}

.seen .seen-image{
    width: 14px;
    border-radius: 50%
}

/* footer */

#footer{
    position: sticky;
    z-index: 200;
    top: 0;
    width: 100%;
    height: 50px;
    padding: 5px 0;
    border-bottom: 1px solid rgb(226, 223, 223);
    box-shadow: 0px 2px 2px rgb(226 223 223);
}


#footer nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
}

#footer nav ul li{
    list-style-type: none;
}

.forword-container{
    position: relative;
}

.forword-container .forword{
    position: absolute;
    top: 140px;
    left: 110px;
    font-size: 20px;
}

#footer nav ul li input{
    border: 1px solid rgb(226, 223, 223);
    padding: 6px 2px;
    border-radius: 35px;
    width: 130px;
    padding: 8px;
    position: relative;
    background-color: rgba(237, 231, 231, 1);
}

#footer nav ul li input:focus{
   outline: none;
}

#footer nav ul li a .smile-search{
    position: absolute;
    right: 40px;
    top: 5px;
}

#footer nav ul li a i{
    padding: 8px 8px;
    color: #1877F2;
    font-size: 1.4em;
}

#footer nav ul li a i:hover{
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.05);
}


.hover{
    visibility: hidden;
}

.sender-hover{
    visibility: hidden;
}


.hover i{
    padding: 6px 6px;
    font-size: 14px;
    color: gray;
}

.sender-hover .hover i{
    padding: 6px 6px;
    font-size: 14px;
    color: gray;
}


.hover-container{
    width: 259px;
    position: relative;
}

.hover-sender-container{
    width: 260px;
    position: relative;
    display: flex;
    justify-content: flex-end;
}

.hover-sender-container .sender-hover i{
    padding: 6px 6px;
    font-size: 14px;
    color: gray;
}

.hover{
    position: absolute;
    right: 2px;
    top: 9px;
}

.sender-hover{
    position: absolute;
    left: 70px;
    top: 9px;
}

.ellipse-icon{
    padding: 5px 10px !important;
    font-size: 14px;
}

.hover i:hover{
    background-color: #ccc8c8;
    border-radius: 50%;
}

.sender-hover i:hover{
    background-color: #ccc8c8;
    border-radius: 50%;
}

.container .hover-container:hover .hover{
    visibility: visible;
}

.hover-sender-container:hover .sender-hover{
    visibility: visible;
}